<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>welcome to <i class="fa-solid fa-book  mb-5"></i>Bookers !!</h1>

      <p class="row justify-content-md-center">CopyRight Infratop.inc</p>
    </div>
  </div>
</div>